.main {
  width: 100%;
  height: 100vh;
  background-color: #424b7a;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 15px 0 0 0;
}

.main-header-left {
  width: 50%;
  padding: 0 15px;
}

.main-header-left__title {
  margin: 2px 0 10px;
  font-size: 36px;
  color: #fff;
}

.main-header-right {
  width: 50%;
}

.main-header-right__title {
  padding: 33px 0;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

.main-content {
  padding: 5px 0 50px;
  background-color: #fff;
}

.main-content-privacy {
  padding: 0 15px;
}

.main-content-privacy__title {
  margin: 20px 0 10px;
  font-size: 30px;
  color: #333333;
}

.main-content-privacy__subtext {
  margin: 0 0 10px;
  font-size: 14px;
  font-style: italic;
  color: #333333;
}

.main-content-privacy__text {
  margin: 0 0 10px;
  font-size: 14px;
  color: #333333;
}

.main-content-privacy__text > a {
  color: #428bca;
  text-decoration: none;
}

.main-content-privacy__text > a:hover {
  color: #2a6496;
  text-decoration: underline;
}

.main-content-privacy__header {
  margin: 20px 0 10px;
  font-size: 24px;
  color: #333333;
}

.main-content-privacy__infoheader {
  font-weight: 700;
  font-size: 14px;
  color: #333333;
}

.main-content-privacy__infotext {
  font-size: 13px;
  color: #333333;
}

.main-content-privacy__infotext > a {
  color: #428bca;
  text-decoration: none;
}

.main-content-privacy__infotext > a:hover {
  color: #2a6496;
  text-decoration: underline;
}

.main-footer {
  padding: 15px 0 0;
  background-color: #424b7a;
}

.main-footer-content {
  display: flex;
}

.main-footer-content__left {
  padding: 0 15px;
  width: 350px;
}

.main-footer-content__left_link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.main-footer-content__left_link:hover {
  color: #fff;
}

.main-footer-content__right {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 0 0 10px;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 1194px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 926px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 896px) {
  .main-header {
    flex-wrap: wrap;
    padding: 15px 0 10px 0;
  }

  .main-header-left {
    width: 100%;
  }

  .main-header-right {
    width: 100%;
  }

  .main-header-right__title {
    margin: 0 15px;
    padding: 0;
  }
}

@media (max-width: 844px) {
  .main-header {
    flex-wrap: wrap;
    padding: 15px 0 10px 0;
  }

  .main-header-left {
    width: 100%;
  }

  .main-header-right {
    width: 100%;
  }

  .main-header-right__title {
    margin: 0 15px;
    padding: 0;
  }
}

@media (max-width: 834px) {
  .container {
    max-width: 750px;
  }

  .main-header-left__title {
    margin: 0;
  }

  .main-header {
    flex-wrap: wrap;
    padding: 15px 0 10px 0;
  }

  .main-header-left {
    width: 100%;
  }

  .main-header-right {
    width: 100%;
  }

  .main-header-right__title {
    margin: 0 15px;
    padding: 0;
  }

  .main-footer-content__left_link {
    font-size: 13px;
  }

  .main-footer-content__right {
    font-size: 13px;
  }
}

@media (max-width: 390px) {
  .main-header-left__title {
    font-size: 30px;
  }

  .main-header-right__title {
    font-size: 11px;
  }

  .main-footer-content__left_link {
    font-size: 11px;
  }

  .main-footer-content__right {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .main-header-left__title {
    font-size: 25px;
  }

  .main-header-right__title {
    font-size: 10px;
  }

  .main-footer-content__left_link {
    font-size: 9px;
  }

  .main-footer-content__right {
    font-size: 9px;
  }
}
